.pageBody {
    display: flex;
    background-color: rgb(39, 39, 39);
    margin: auto;
}

.game {
    border-radius: 1rem;
    background-image: url("../../Images/Flat Night 2 BG.png");
    background-color: black;
    background-size: auto 60vh;
    margin: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

p {
    color: antiquewhite;
    margin: auto;
    margin-top: 6vw;
    margin-bottom: 6vw;
}