body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: 14px "Verdana", Futura, sans-serif;
  background-color: rgb(60, 60, 60);
}

.player {
  width: 10px;
  height: 10px;
  background-color: white;
}

.main-body {
  visibility: hidden;
  margin: auto;
  margin-top: 19vh;
  scale: no;
  overflow: hidden;
}

.banner {
  visibility: visible;
  margin-top: min(18vw, 18vh);
  align-self: center;
  justify-self: center;
}

.mainBack {
  width: 4vw;
  height: 4vw;
  margin-left: 1vw;
  margin-top: 1vw;
  position: absolute;
}
