body {
  font: 14px "Verdana", Futura, sans-serif;
  margin: 5vw;
  background-color: rgb(60, 60, 60);
}

.game {
  border-radius: 1rem;
  background-color: black;
  margin: auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.player {
  width: 10px;
  height: 10px;
  background-color: white;
}
